absl-py==0.12.0
attrs==21.2.0
bcrypt==3.2.0
bidict==0.21.2
cffi==1.14.5
click==8.0.1
Flask==2.0.0
Flask-Bcrypt==0.7.1
Flask-SocketIO==5.0.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.1.0
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mediapipe==0.8.4.2
numpy==1.20.3
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
Pillow==8.2.0
protobuf==3.17.0
pycparser==2.20
python-engineio==4.2.0
python-socketio==5.3.0
six==1.16.0
SQLAlchemy==1.4.15
Werkzeug==2.0.1
WTForms==2.3.3