*{
    overflow-x: hidden;
}
body{
    position: relative;
    background-color: #374149;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.navbar{
    background-color: black;
}

#navbarNav{
    width: 30%;
}

.navbar-nav{
    width: 100%;
}

.btn-outline-success{
    border-color: black;
}

.logo{
    width: 70%;
}

.video-stream{
    border-radius: 10%;
    /* background-image: url("https://i.imgur.com/GD49KDv.png"); */
    
}
/*  */
.vid-button{
    margin-top: 2%;
    margin-left: 2%;
}

#canvasContainer{
    margin-left: 10%;
    margin-top: 7%;
}

#canvasOutput{
    border-radius: 10%;
    margin-left: 5%;
    background-image: url("https://i.imgur.com/GD49KDv.png");
}



.btn-danger{
    border-radius: 10%;
}

h4{
    margin-top: 7%;
    margin-left: 20%;
    color: aliceblue;
}

h3{
    margin-top: 30%;
    color: aliceblue;
}