<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/opencv.js') }}"></script>
</head>
<body>
    <h1>check</h1>


    <div id="container">
        
        <canvas id="canvasOutput"></canvas>
        <video autoplay="true" id="videoElement"></video>
        <canvas id="temp">

        </canvas>
    </div>
    
    <div class = 'video'>
        <img id="image">
    </div>
    



    <script>
        var socket = io('http://192.168.1.7:5000');
    
        socket.on('connect', function(){
            console.log("Connected...!", socket.connected)
        });

        socket.on('response_back', function(stringData){
            var canvas = document.getElementById('canvasOutput')
            var ctx = canvas.getContext("2d")
            var image_new = new Image()
            
            image.onload = function() {
                ctx.drawImage(image_new, 0, 0);
            };
            image_new.src = stringData
            // ctx.drawImage(image_new, 0, 0)
            console.log(stringData)
        })
    
        const video = document.querySelector("#videoElement");
    
        video.width = 500; 
        video.height = 375;
    
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
        }
        var cap
        var src
        var dst
            cv['onRuntimeInitialized']=()=>{
                src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
                dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
                cap = new cv.VideoCapture(video);
                const FPS = 22;
                console.log(src, dst, cap)
                setInterval(() => {
                    cap.read(src);
            
                    var type = "image/png"
                    var canvas = document.getElementById('temp');     
                    var data = document.getElementById("videoElement")    //.toDataURL(type);
                    canvas.getContext('2d').drawImage(data, 0, 0, 200,200);       
                    var base64 = canvas.toDataURL().replace('data:' + type + ';base64,', '')  
                    //data = data.replace('data:' + type + ';base64,', ''); //split off junk at the beginning
                    
                    socket.emit('image', base64);
                }, 10000/FPS);
            };
        
        
        
    
    
        socket.on('response_back', function(image){
            const image_id = document.getElementById('image');
            image_id.src = image;
        });
    
    </script>
    
</body>
</html>

