<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Iotech</title>
    
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.svg') }}" type="image/png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/opencv.js') }}"></script>
</head>
<body>
    <nav class="row navbar navbar-expand-sm navbar-dark">
        <div class="logo col-8">    
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="logo"> IoTech</a>
        </div>    
    </nav>


        <div id="container" class="container">
        
            <canvas id="canvasOutput" height= "600" width="500"></canvas>
            <video autoplay="true"  style="display:none;" id="videoElement"></video>
            <canvas id="temp" height="375" width="500" style="height: 375; width: 500; display:none">
    
            </canvas>
        </div>
        
        <div class = 'video'>
            <img id="image">
        </div>
        
        <div class="row vid-button">
            <div class="col-4 offset-2">
                <a class="btn btn-dark btn-lg" href="#">stop</a>
            </div>            
        </div>


        <script>
            var socket = io('http://127.0.0.1:5000');
        
            socket.on('connect', function(){
                console.log("Connected...!", socket.connected)
            });
    
            socket.on('response_back', function(stringData){
                // console.log(stringData)
                var canvas = document.getElementById('canvasOutput')
                var ctx = canvas.getContext("2d")
                var image_new = new Image()
                image_new.onload = function(){
                    ctx.drawImage(image_new, 0,0, 500, 375)
                }
                image_new.src = stringData
                // ctx.drawImage(stringData, 0, 0)
            })
        
            const video = document.querySelector("#videoElement");
        
            video.width = 600; 
            video.height = 375;
        
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function (err0r) {
                    console.log(err0r)
                    console.log("Something went wrong!");
                });
            }
            var cap
            var src
            var dst
                cv['onRuntimeInitialized']=()=>{
                    src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
                    dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
                    cap = new cv.VideoCapture(video);
                    const FPS = 44;
                    setInterval(() => {
                        cap.read(src);
                
                        var type = "image/png"
                        var canvas = document.getElementById('temp');     
                        var data = document.getElementById("videoElement")    //.toDataURL(type);
                        canvas.getContext('2d').drawImage(data, 0, 0, 500, 375);       
                        var base64 = canvas.toDataURL().replace('data:' + type + ';base64,', '')  
                        //data = data.replace('data:' + type + ';base64,', ''); //split off junk at the beginning
                        socket.emit('image', base64);
                    }, 10000/FPS);
                };
            
            
            
        
        
            // socket.on('response_back', function(image){
            //     const image_id = document.getElementById('image');
            //     image_id.src = image;
            // });
        
        </script>
</body>
</html>